@import "variable.less";
html,body,#app{
    height: 100%;
}
#app{
    padding-top: 50px;
    overflow: auto;
    background-color: #fafafa;
}
.flx-row{
    display: flex;
    flex-direction: row;
    &.flx-between{
        justify-content: space-between;
    }
    &.flx-around{
        justify-content: space-around;
    }
    &.v-center{
        align-items: center;
    }
    &.h-center{
        justify-content: center;
    }
    &.center{
        align-items: center;
        justify-content: center;
    }
}
.vue-toast{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    &.toast-bottom{
        bottom: 0;
    }
    &.toast-top{
        top: 0;
    }
    &.toast-center{

    }
}